// AppsBar Variables
$cs-appbar-color: #dee2e6 !default;
$cs-appbar-active: $o-brand-primary !default;
$cs-appbar-background: #1e1e2d !default;  // Darker, more modern color

$cs-sidebar-large-width: 160px !default;
$cs-sidebar-small-width: 50px !default;

// Apps Menu Background
$cs-appsmenu-color: #fff !default;
